<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item text-primary"><a role="button" (click)="goHome()">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Mis Incidencias</li>
  </ol>
</nav>
<ng-container *ngIf="incidences$ | async as incidences; else loading">
  <table class="table text-center" *ngIf="incidences.length > 0; else noElement">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th class="text-left" scope="col">Código</th>
        <th class="text-left">Descripcion</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of incidences | paginate: { itemsPerPage: 7, currentPage: p }; let i = index">
        <td>{{ 7 * (p -1) + i + 1}} </td>
        <td class="text-left">
          {{item.id }}
        </td>
        <td class="text-left">
          {{item.incidencia | uppercase }}
        </td>
        <td>{{item.createdAt?.toDate() | date: 'medium'}}</td>
        <td><span class="badge badge-success">{{item.estado }}</span></td>
      </tr>
    </tbody>
  </table>
  <div class="text-right mt-2" *ngIf="incidences.length > 7">
    <pagination-controls (pageChange)="p = $event">
    </pagination-controls>
  </div>
</ng-container>
<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border text-info" role="status">
    </div>
    <strong class="text-info"> Loading... </strong>
  </div>
</ng-template>
<ng-template #noElement>
  <div class="alert alert-info" role="alert">
    No items found!
  </div>
</ng-template>
<ng-template #mensaje>
  <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
    <strong>Important!</strong> Add folders from the list to start indexing.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>
