<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light mt-2">
  <form class="form-inline my-2 mr-lg-2">
    <a class="nav-link" class="btn text-primary">
      <strong>
        CREATE ACCOUNT
      </strong><span class="sr-only">(current)</span></a>
  </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-primary mr-2" [routerLink]="['/']"> Login</a>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <div class="shadow-lg card">
        <div class="card-body">
          <h5 class="card-title">Create Account</h5>
          <hr />
          <form [formGroup]="accountForm" (ngSubmit)="onRegister()" >
            <div class="form-group">
              <label for="displayName">Nickname</label>
              <input type="text" class="form-control" id="displayName" formControlName="displayName"
                placeholder="Nickname" required>
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormEmail2">Email</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail2" formControlName="email" placeholder="email@example.com" required>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Telefono:</label>
              <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              type = "number"
              maxlength = "9"  class="form-control" id="exampleFormControlTextarea1" formControlName="telefono">
          </div>
            <div class="form-group">
              <label for="dni">Dni</label>
              <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              type = "number"
              maxlength = "8" class="form-control" id="dni" formControlName="dni"
                placeholder="Dni" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password"
                placeholder="Password" required>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary" [disabled]="!accountForm.valid">
              Sign On
            </button><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>